@use './styles/mixins'
@use './styles/functions'
@use './styles/variables'
@use './styles/theme' 


body
    font-family: variables.$ff-plus-jakarta-sans
    background: var(--background)
    color: var(--text)
    transition: all .2s ease-in-out